@model IEnumerable<Contas.Application.ViewModels.ContaViewModel>

@{
    ViewData["Title"] = "Minhas contas";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <a asp-action="Create" class="btn btn-primary"><span title="Criar conta" class="glyphicon glyphicon-plus-sign"> Nova Conta</span></a>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Parcelado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroParcelas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdCategoria)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @item.Data.ToString("d")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parcelado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroParcelas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>
